<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>com.lvwang.osf</display-name>
 
 <filter>
  	<filter-name>InitFilter</filter-name>
  	<filter-class>com.lvwang.osf.web.InitFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>InitFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/app-config.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>osf</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>osf</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/404</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/500</location>
  </error-page>
  
</web-app>